<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <meta name="viewport"    content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords"    content="{{ site.keywords }}">
  <meta name="author"      content="{{ site.author }}">  
  
  <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
  
  <meta property="og:locale"    content="pl_PL" />
  <meta property="og:site_name" content="{{ site.companyName }}" />      

  <link href="p/css/bootstrap.min.css"  rel="stylesheet">
  <link href="p/css/style.css"          rel="stylesheet">
  <link href="p/css/magnific-popup.css" rel="stylesheet"> 

  <link rel="shortcut icon" href="favicon.ico" />

  <link rel="author"    href="{{ site.social.gplus }}" />
  <link rel="publisher" href="{{ site.social.gplus }}" />
       
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->  
</head>
<body>
    