{% include header.html %} 

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      
      <div class="item active">
        <img src="p/img/carousel1.jpg" alt="Zakład">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ site.companyName }}</h1>
            <p>Sprzedaż trumien, krzyży, tabliczek, urn.</p>
            <p><a class="phone24" href="tel:+48609083564">Całodobowy kontakt: <strong>609 083 564</strong></a></p>
          </div>
        </div>
      </div>
      
      <div class="item ">
        <img src="p/img/carousel2.jpg" alt="Zakład">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ site.companyName }}</h1>
            <p>Obsługa pogrzebu.</p>
            <p><a class="phone24" href="tel:+48609083564">Całodobowy kontakt: 609 083 564</a></p>
          </div>
        </div>
      </div>
      <div class="item ">
        <img src="p/img/carousel3.jpg" alt="Zakład">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ site.companyName }}</h1>
            <p>Możliwość organizacji różańca (pustej nocy) w kaplicy.</p>
            <p><a class="phone24" href="tel:+48609083564">Całodobowy kontakt: 609 083 564</a></p>
          </div>
        </div>
      </div>
      <div class="item ">
        <img src="p/img/carousel4.jpg" alt="Zakład">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ site.companyName }}</h1>
            <p>Całodobowy przewóz zmarłych.</p>
            <p><a class="phone24" href="tel:+48609083564">Całodobowy kontakt: 609 083 564</a></p>
          </div>
        </div>
      </div>
      

    </div>
  </div><!-- /.carousel -->



  <div class="container marketing">
    <div class="row">
      <div class="col-sm-8 content">  
            
        <h2>Oferujemy:</h2>
        <ul>
          <li>Sprzedaż trumien, krzyży, tabliczek, urn</li>
          <li><strong>Całodobowy</strong> przewóz zmarłych</li>
          <li>Obsługa pogrzebu</li>
          <li>Kredytowanie pogrzebu</li>
          <li><strong>Własna</strong> chłodnia (gratis)</li>
          <li>Odzież dla osoby zmarłej</li>
          <li>Kwiaty</li>
          <li>Możliwość organizacji różańca (pustej nocy) w kaplicy</li>
          <li>Oprawa muzyczna pogrzebu (trąbka) oraz nagłośnienie na cmentarzu</li>
          <li>Kremacja</li>
        </ul>

        <h3>Obsługujemy również okoliczne miejscowości</h3>

        <p>{{ content }}</p>

        <p>
        {% assign sorted_pages = site.pages | sort:"name" %}
        {% for p in sorted_pages %}
        {% if p.layout != nil and p.url != '/404.html' and p.url != '/index.html'  %}
          {% if page.url == p.url%}<strong>{% endif %}
          <a href="{{ p.url | replace: '.html', '' }}" >{{ p.title }}</a>
          {% if page.url == p.url%}</strong>{% endif %}
          {% unless forloop.last %},{% endunless %}
        {% endif %}
        {% endfor %}                        
        </p>
        
      </div><!--/col-->

      <div class="col-sm-4 sidebar">

        <div class="row">
          <address class="col-sm-12">
            <h3>{{ site.companyName }}</h3>
            <a class="address location" href="https://maps.google.pl/maps?q=54.778434,18.162321&hl=pl&z=16">ul. Żarnowieckiego 11<br>Krokowa 84-110</a><br/>
            <br/>
            <a class="address mobile"   href="tel:+48609083564">609 083 564</a><br/>
            <a class="address phone"    href="tel:+48587742013">58 774 20 13</a><br/>
            <br/>
            <a class="address mail"     href="mailto:kontakt@{{ site.url }}">kontakt@{{ site.url }}</a><br/>
            <a class="address plus"     href="{{ site.social.gplus }}" rel="publisher">Jesteśmy również na portalu Google+</a><br/>
          </address>
        </div>
                   
        <div class="row">
          <div class="col-sm-6">
            <a href="p/img/krokowa1.jpg" class="gallery-item"><img src="p/img/krokowa1.jpg" alt="..." class="img-thumbnail img-responsive" /></a>
          </div>
          <div class="col-sm-6">
            <a href="p/img/krokowa1.jpg" class="gallery-item"><img src="p/img/krokowa1.jpg" alt="..." class="img-thumbnail img-responsive" /></a>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6">
            <a href="p/img/krokowa1.jpg" class="gallery-item"><img src="p/img/krokowa1.jpg" alt="..." class="img-thumbnail img-responsive" /></a>
          </div>
          <div class="col-sm-6">
            <a href="p/img/krokowa1.jpg" class="gallery-item"><img src="p/img/krokowa1.jpg" alt="..." class="img-thumbnail img-responsive" /></a>
          </div>
        </div>
           
        
      </div><!--/col-->      
    </div><!--/row-->
     
          <div class="row">
          <div class="col-sm-3">
            <a href="p/img/krokowa1.jpg" class="gallery-item"><img src="p/img/krokowa1.jpg" alt="..." class="img-thumbnail img-responsive" /></a>
          </div>
          <div class="col-sm-3">
            <a href="p/img/krokowa1.jpg" class="gallery-item"><img src="p/img/krokowa1.jpg" alt="..." class="img-thumbnail img-responsive" /></a>
          </div>
          <div class="col-sm-3">
            <a href="p/img/krokowa1.jpg" class="gallery-item"><img src="p/img/krokowa1.jpg" alt="..." class="img-thumbnail img-responsive" /></a>
          </div>
          <div class="col-sm-3">
            <a href="p/img/krokowa1.jpg" class="gallery-item"><img src="p/img/krokowa1.jpg" alt="..." class="img-thumbnail img-responsive" /></a>
          </div>
        </div>
    
  </div><!-- /.container -->        
    
  <div id="map-canvas"></div>
    
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.companyFullName }}</p>
  </footer>  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="p/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ site.google_map_apikey }}&sensor=false"></script>
  <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(54.779434, 18.162321), 
        zoom: 16
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      
      var marker = new google.maps.Marker({
          position: new google.maps.LatLng(54.778434, 18.162321),
          map: map,
          title:"{{ site.companyName }}"
      });

      var contentString = '<div id="content">'+
          '<address>'+
            '<strong>{{ site.companyName }}</strong>'+
            '<p>ul. Żarnowieckiego 11<br>Krokowa 84-110</p>'+            
            '<a href="tel:+48609083564">609 083 564</a><br/>'+
            '<a href="tel:+48587742013">58 774 20 13</a><br/>'+
            '<br/>'+
            '<a href="mailto:kontakt@{{ site.url }}">kontakt@{{ site.url }}</a><br/>'+
            '<a href="{{ site.social.gplus }}" rel="publisher">Nasz Google+</a><br/>'+
          '</address>'+
          '</div>';

      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
      
       infowindow.open(map,marker);
      
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>  
  
  <!-- Magnific Popup core JS file -->
  <script src="p/js/jquery.magnific-popup.min.js"></script> 
  <script type="text/javascript">
    $('.gallery-item').magnificPopup({
      type: 'image',
      gallery:{
        enabled:true
      }
    });
  </script>
    
{% include footer.html %}