{% include header.html %} 

  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{ site.og_site_name }}</h3>
              
            </div>
          </div>

          <div class="inner cover">
            <p class="lead">

            
<address>
  <strong>Usługi Pogrzebowe "Ostatnie Pożegnanie" - Anna Pipka</strong><br>
  Żarnowieckiego 11<br>
  Krokowa 84-110<br>

  <a href="tel:+48609083564">+48 609 083 564</a>
  <a href="tel:+48587742013">+48 58 774 20 13</a>
  
  <a href="mailto:kontakt@{{ site.url }}">kontakt@{{ site.url }}</a>  
</address>

{{ content }}

<ul>
  <li>Sprzedaż trumien, krzyży, tabliczek, urn</li>
  <li>Całodobowy przewóz zmarłych</li>
  <li>Obsługa pogrzebu</li>
  <li>Kredytowanie pogrzebu</li>
  <li>Własna chłodnia (gratis)</li>
  <li>Odzież dla osoby zmarłej</li>
  <li>Kwiaty</li>
  <li>Możliwość organizacji różańca (pustej nocy) w kaplicy</li>
  <li>Oprawa muzyczna pogrzebu (trąbka) oraz nagłośnienie na cmentarzu</li>
  <li>Kremacja</li>
</ul>

</p>

<p><a href="{{ site.social.gplus }}" rel="publisher">Jesteśmy również na portalu Google+</a></p>

    {% for page in site.pages %}
    {% if page.layout != nil and page.url != '/404.html' and page.url != '/index.html'  %}
    <!--
        /{{ page.url | replace: '.html', '' }}
    -->
    {% endif %}
    {% endfor %}            
            
            
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>&copy; {{ site.og_site_name }}</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="p/js/bootstrap.min.js"></script>


{% include footer.html %}