{% include header.html %} 

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      
      <div class="item active">
        <img src="p/img/carousel1.jpg" alt="{{ site.companyName }} Sprzedaż trumien, krzyży, tabliczek, urn">
        <div class="container">
          <div class="carousel-caption">
            <h1><a href="http://{{ site.url }}" title="{{ site.companyName }}">{{ site.companyName }}</a></h1>
            <p><a href="tel:+48609083564" title="{{ site.companyName }} całodobowy telefon">Całodobowy telefon: <strong>609 083 564</strong></a></p>
          </div>
        </div>
      </div>
      
      <div class="item ">
        <img src="p/img/carousel2.jpg" alt="{{ site.companyName }} Obsługa pogrzebu">
        <div class="container">
          <div class="carousel-caption">
            <h1><a href="http://{{ site.url }}" title="{{ site.companyName }}">{{ site.companyName }}</a></h1>
            <p><a href="tel:+48609083564" title="{{ site.companyName }} całodobowy telefon">Całodobowy telefon: <strong>609 083 564</strong></a></p>
          </div>
        </div>
      </div>
      <div class="item ">
        <img src="p/img/carousel3.jpg" alt="{{ site.companyName }} Możliwość organizacji różańca (pustej nocy) w kaplicy">
        <div class="container">
          <div class="carousel-caption">
            <h1><a href="http://{{ site.url }}" title="{{ site.companyName }}">{{ site.companyName }}</a></h1>
            <p><a href="tel:+48609083564" title="{{ site.companyName }} całodobowy telefon">Całodobowy telefon: <strong>609 083 564</strong></a></p>
          </div>
        </div>
      </div>
      <div class="item ">
        <img src="p/img/carousel4.jpg" alt="{{ site.companyName }} Całodobowy przewóz zmarłych">
        <div class="container">
          <div class="carousel-caption">
            <h1><a href="http://{{ site.url }}" title="{{ site.companyName }}">{{ site.companyName }}</a></h1>
            <p><a href="tel:+48609083564" title="{{ site.companyName }} całodobowy telefon">Całodobowy telefon: <strong>609 083 564</strong></a></p>
          </div>
        </div>
      </div>
      

    </div>
  </div><!-- /.carousel -->



  <div class="container">
    <div class="row">
      <div class="col-sm-8 content">  
        
        {% if page.title == 404 %}
        <h1>404 Nie znaleziono strony</h1>
        {% endif %}
        
        <h2>Oferujemy:</h2>
        <ul>
          <li>Sprzedaż trumien, krzyży, tabliczek, urn</li>
          <li><strong>Całodobowy</strong> przewóz zmarłych</li>
          <li>Obsługa pogrzebu</li>
          <li>Kredytowanie pogrzebu</li>
          <li><strong>Własna</strong> chłodnia (gratis)</li>
          <li>Odzież dla osoby zmarłej</li>
          <li>Kwiaty</li>
          <li>Możliwość organizacji różańca (pustej nocy) w kaplicy</li>
          <li>Oprawa muzyczna pogrzebu (trąbka) oraz nagłośnienie na cmentarzu</li>
          <li>Kremacja</li>
        </ul>
        
        <br/>

        <h3>Obsługujemy również okoliczne miejscowości</h3>

        <p>{{ content }}</p>

        <p>
        {% assign sorted_pages = site.pages | sort:"name" %}
        {% for p in sorted_pages %}
        {% if p.layout != nil and p.url != '/404.html' and p.url != '/index.html'  %}
          {% if page.url == p.url%}<strong>{% endif %}
          <a href="{{ p.url | replace: '.html', '' }}" >{{ p.title }}</a>
          {% if page.url == p.url%}</strong>{% endif %}
          {% unless forloop.last %},{% endunless %}
        {% endif %}
        {% endfor %}                        
        </p>
        
      </div><!--/col.content-->

      <div class="col-sm-4 sidebar">
        <div class="row">
          <address class="col-sm-12">
            <strong>{{ site.companyName }}</strong>            
            <a class="mobile"   href="tel:+48609083564" title="{{ site.companyName }} całodobowy telefon">609 083 564</a><br/>
            <a class="phone"    href="tel:+48587742013" title="{{ site.companyName }} telefon stacjonarny">58 774 20 13</a><br/>
            <br/>
            <a class="location" href="https://maps.google.pl/maps?q=54.778434,18.162321&amp;hl=pl&amp;z=16" title="{{ site.companyName }} adres">ul. Żarnowiecka 11<br>Krokowa 84-110</a><br/>
            <br/>
            <a class="mail"     href="mailto:kontakt@{{ site.url }}" title="{{ site.companyName }} mail">kontakt@{{ site.url }}</a><br/>
            <a class="plus"     href="{{ site.social.gplus }}" rel="publisher">Jesteśmy również na portalu Google+</a><br/>
          </address>
        </div><!--/row-->
      </div><!--/col.sidebar-->      
    </div><!--/row-->
     
    <div class="row gallery">
      <div class="col-sm-2">
        <a href="p/img/krokowa1.jpg" title="{{ site.companyName }}" class="gallery-item"><img src="p/img/krokowa1.m.jpg" alt="{{ site.companyName }}" class="img-thumbnail img-responsive" /></a>
      </div>
      <div class="col-sm-2">
        <a href="p/img/krokowa2.jpg" title="{{ site.companyName }}" class="gallery-item"><img src="p/img/krokowa2.m.jpg" alt="{{ site.companyName }}" class="img-thumbnail img-responsive" /></a>
      </div>
      <div class="col-sm-2">
        <a href="p/img/krokowa3.jpg" title="{{ site.companyName }}" class="gallery-item"><img src="p/img/krokowa3.m.jpg" alt="{{ site.companyName }}" class="img-thumbnail img-responsive" /></a>
      </div>
      <div class="col-sm-2">
        <a href="p/img/krokowa4.jpg" title="{{ site.companyName }}" class="gallery-item"><img src="p/img/krokowa4.m.jpg" alt="{{ site.companyName }}" class="img-thumbnail img-responsive" /></a>
      </div>
      <div class="col-sm-2">
        <a href="p/img/krokowa5.jpg" title="{{ site.companyName }}" class="gallery-item"><img src="p/img/krokowa5.m.jpg" alt="{{ site.companyName }}" class="img-thumbnail img-responsive" /></a>
      </div>
      <div class="col-sm-2">
        <a href="p/img/krokowa6.jpg" title="{{ site.companyName }}" class="gallery-item"><img src="p/img/krokowa6.m.jpg" alt="{{ site.companyName }}" class="img-thumbnail img-responsive" /></a>
      </div>  
    </div><!--/row-->
    
  </div><!-- /.container -->        
    
  <div id="map-canvas"></div>
    
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.companyFullName }} ul. Żarnowiecka 11, Krokowa 84-110</p>
  </footer>  
        
{% include footer.html %}